/* ================================
   GLOBAL
================================ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: #f7f7f7;
  color: #222;
  line-height: 1.6;
  min-height: 100vh;
}

main {
  min-height: 65vh;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}


/* ================================
   SCROLLBAR
================================ */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ff385c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e31c5f;
}